<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="572" android:versionName="2.4.1" android:compileSdkVersion="30" android:compileSdkVersionCodename="11" package="ru.mysmartflat.kortros" platformBuildVersionCode="572" platformBuildVersionName="2.4.1">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30"/>
    <uses-feature android:name="android.hardware.wifi"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.BLUETOOTH" android:required="false"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:required="false"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-feature android:glEsVersion="20000" android:required="true"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <supports-screens android:anyDensity="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE"/>
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT"/>
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE"/>
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE"/>
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT"/>
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_APP_BADGE"/>
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_READ"/>
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_WRITE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <uses-feature android:name="android.hardware.nfc.hce" android:required="false"/>
    <application android:theme="@style/AppTheme" android:label="@string/app_name_app" android:icon="@mipmap/ic_launcher_app" android:name="p035ru.unicorn.ujin.MainApplication" android:screenOrientation="portrait" android:allowBackup="false" android:hardwareAccelerated="true" android:largeHeap="true" android:supportsRtl="true" android:extractNativeLibs="false" android:fullBackupContent="true" android:usesCleartextTraffic="true" android:networkSecurityConfig="@xml/network_security_config" android:roundIcon="@mipmap/ic_launcher_app_round" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:isSplitRequired="true" android:requestLegacyExternalStorage="true">
        <activity android:theme="@style/AppTheme.NoToolbar.Transparent" android:name="p035ru.unicorn.ujin.ble.TransparentActivity"/>
        <activity android:theme="@style/AppTheme.NoToolbar" android:label="" android:name="p035ru.unicorn.ujin.view.activity.MjpegVideoActivity" android:launchMode="singleTask" android:screenOrientation="landscape" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <receiver android:name="p035ru.unicorn.ujin.data.service.CallPushBroadcastReciver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="push_call_broadcast"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyAPEwRpatsIKqflJlsJ_kjhBPv_PdT-iew"/>
        <service android:name="p035ru.unicorn.ujin.view.service.DownloadService" android:enabled="true" android:exported="true"/>
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity"/>
        <activity android:theme="@style/Theme.Design.NoActionBar" android:name="p035ru.unicorn.ujin.view.activity.UrlCarouselViewActivity" android:screenOrientation="portrait"/>
        <activity android:theme="@style/AppTheme.NoToolbar.Launch" android:name="p035ru.unicorn.ujin.view.activity.TermsActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/AppTheme.NoToolbar" android:name="p035ru.unicorn.ujin.view.activity.WebViewActivity" android:screenOrientation="portrait"/>
        <activity android:theme="@style/AppTheme.NoToolbar" android:name="p035ru.unicorn.ujin.view.activity.PaymentWebViewActivity" android:screenOrientation="portrait"/>
        <service android:name="p035ru.unicorn.ujin.data.service.FCM" android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
            <meta-data android:name="com.google.firebase.messaging.default_notification_color" android:resource="@color/colorPrimary"/>
        </service>
        <service android:name="p035ru.unicorn.ujin.data.service.location.LocationService"/>
        <receiver android:name="p035ru.unicorn.ujin.data.service.location.HomeWifiConnection">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="p035ru.unicorn.ujin.receiver.SmsReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="p035ru.unicorn.ujin.view.activity.navigation.p058ui.device.WifiConnectionReceiver"/>
        <activity android:theme="@style/Theme.Design.NoActionBar" android:name="p035ru.unicorn.ujin.view.activity.VideoPlayerActivity" android:configChanges="orientation|screenSize"/>
        <activity android:theme="@style/AppTheme.NoToolbar" android:name="p035ru.unicorn.ujin.view.activity.bottomNavigationActivity.StageActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>
        <activity android:theme="@style/AppTheme.NoToolbar.Secondary" android:name="p035ru.unicorn.ujin.view.activity.RegistrationActivity" android:screenOrientation="portrait" android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="adjustUnspecified|stateVisible|adjustResize"/>
        <activity android:theme="@style/Theme.AppCompat.Light.NoActionBar" android:name="p035ru.unicorn.ujin.view.activity.tutorial.kortrosmsf.TutorialActivity" android:screenOrientation="portrait"/>
        <activity android:theme="@style/AppTheme.NoToolbar" android:name="p035ru.unicorn.ujin.view.activity.domru.RegisterDomruActivity" android:screenOrientation="portrait" android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustResize"/>
        <activity android:theme="@style/AppTheme.NoToolbar" android:name="p035ru.unicorn.ujin.view.activity.morion.MorionRegistrationActivity" android:screenOrientation="portrait" android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="adjustUnspecified|stateVisible|adjustResize"/>
        <activity android:theme="@style/AppTheme.NoToolbar" android:name="p035ru.unicorn.ujin.view.activity.pass.PassRegistrationActivity" android:screenOrientation="portrait" android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="adjustUnspecified|stateVisible|adjustResize"/>
        <activity android:theme="@style/AppTheme.NoToolbar" android:name="p035ru.unicorn.ujin.view.activity.domru.RegistrationUserActivity" android:screenOrientation="portrait" android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustResize"/>
        <activity android:theme="@style/AppTheme.NoToolbar" android:name="p035ru.unicorn.ujin.view.activity.domru.PasswordRecoveryActivity" android:screenOrientation="portrait" android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustResize"/>
        <activity android:theme="@style/AppTheme.NoToolbar" android:name="p035ru.unicorn.ujin.view.activity.domru.SendingCodeActivity" android:screenOrientation="portrait" android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustResize"/>
        <activity android:theme="@style/AppTheme.NoToolbar" android:name="p035ru.unicorn.ujin.view.activity.domru.PasswordWebViewActivity" android:screenOrientation="portrait" android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustResize"/>
        <activity android:theme="@style/AppTheme.NoToolbar" android:name="p035ru.unicorn.ujin.view.customViews.citySearchView.SearchViewActivity" android:screenOrientation="portrait" android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustResize"/>
        <activity android:theme="@style/Theme.AppCompat.Light.NoActionBar" android:name="p035ru.unicorn.ujin.view.activity.sapfir.AdditionalInfoActivity" android:screenOrientation="portrait"/>
        <activity android:theme="@style/Theme.AppCompat.Light.NoActionBar" android:name="p035ru.unicorn.ujin.view.activity.sapfir.SapfirRegistrationActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan"/>
        <activity android:theme="@style/Theme.AppCompat.Light.NoActionBar" android:name="p035ru.unicorn.ujin.view.activity.tutorial.sapfir.SapfirTutorialActivity" android:screenOrientation="portrait"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_channel_id" android:value="@string/default_notification_channel_id"/>
        <meta-data android:name="io.fabric.ApiKey" android:value="c64c9fed782f13c12ff4c0d2dde8270bdf521796"/>
        <service android:name="org.altbeacon.beacon.service.BeaconService">
            <meta-data android:name="longScanForcingEnabled" android:value="true"/>
        </service>
        <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="barcode"/>
        <provider android:name="com.reactnativecommunity.webview.RNCWebViewFileProvider" android:exported="false" android:authorities="ru.mysmartflat.kortros.fileprovider" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_provider_paths"/>
        </provider>
        <service android:name="com.google.firebase.components.ComponentDiscoveryService" android:exported="false" android:directBootAware="true">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.dynamicloading.DynamicLoadingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <activity android:theme="@style/Dexter.Internal.Theme.Transparent" android:name="com.karumi.dexter.DexterActivity"/>
        <activity android:theme="@style/Theme.AppCompat.Translucent" android:name="net.alhazmy13.mediapicker.Image.ImageActivity"/>
        <activity android:theme="@style/Theme.AppCompat.Translucent" android:name="net.alhazmy13.mediapicker.Video.VideoActivity"/>
        <provider android:name="androidx.core.content.FileProvider" android:exported="false" android:authorities="ru.mysmartflat.kortros.provider" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
        </provider>
        <activity android:name="com.zhihu.matisse.p041ui.MatisseActivity"/>
        <activity android:name="com.zhihu.matisse.internal.p040ui.AlbumPreviewActivity"/>
        <activity android:name="com.zhihu.matisse.internal.p040ui.SelectedPreviewActivity"/>
        <meta-data android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule" android:value="GlideModule"/>
        <provider android:name="com.squareup.picasso.PicassoProvider" android:exported="false" android:authorities="ru.mysmartflat.kortros.com.squareup.picasso"/>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <provider android:name="androidx.work.impl.WorkManagerInitializer" android:exported="false" android:multiprocess="true" android:authorities="ru.mysmartflat.kortros.workmanager-init" android:directBootAware="false"/>
        <service android:name="androidx.work.impl.background.systemalarm.SystemAlarmService" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:directBootAware="false"/>
        <service android:name="androidx.work.impl.background.systemjob.SystemJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:enabled="@bool/enable_system_job_service_default" android:exported="true" android:directBootAware="false"/>
        <receiver android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver" android:enabled="true" android:exported="false" android:directBootAware="false"/>
        <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy" android:enabled="false" android:exported="false" android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy" android:enabled="false" android:exported="false" android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy" android:enabled="false" android:exported="false" android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy" android:enabled="false" android:exported="false" android:directBootAware="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver" android:enabled="false" android:exported="false" android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <service android:name="com.google.firebase.messaging.FirebaseMessagingService" android:exported="false" android:directBootAware="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <activity android:theme="@style/Theme.Translucent.NoTitleBar" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:exported="false"/>
        <receiver android:name="com.google.android.gms.measurement.AppMeasurementReceiver" android:enabled="true" android:exported="false"/>
        <service android:name="com.google.android.gms.measurement.AppMeasurementService" android:enabled="true" android:exported="false"/>
        <service android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:enabled="true" android:exported="false"/>
        <provider android:name="com.google.firebase.provider.FirebaseInitProvider" android:exported="false" android:authorities="ru.mysmartflat.kortros.firebaseinitprovider" android:initOrder="100" android:directBootAware="true"/>
        <service android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery" android:exported="false">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <provider android:name="androidx.lifecycle.ProcessLifecycleOwnerInitializer" android:exported="false" android:multiprocess="true" android:authorities="ru.mysmartflat.kortros.lifecycle-process"/>
        <service android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="false"/>
        <receiver android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver" android:exported="false"/>
        <activity android:name="org.linphone.SilentCallActivity"/>
        <activity android:theme="@style/NoTitle" android:name="org.linphone.LinphoneLauncherActivity" android:exported="true" android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CALL"/>
                <action android:name="android.intent.action.CALL_PRIVILEGED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="sip"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/NoTitle" android:name="org.linphone.LinphoneActivity" android:screenOrientation="portrait" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.AppCompat" android:name="org.linphone.CallIncomingActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:showWhenLocked="true" android:turnScreenOn="true"/>
        <activity android:theme="@style/NoTitle" android:name="org.linphone.CallOutgoingActivity" android:launchMode="singleTop" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.AppCompat" android:name="org.linphone.CallActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/NoTitle" android:name="org.linphone.assistant.AssistantActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/NoTitle" android:name="org.linphone.purchase.InAppPurchaseActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/NoTitle" android:name="org.linphone.assistant.RemoteProvisioningLoginActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/NoTitle" android:name="org.linphone.assistant.RemoteProvisioningActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
            <intent-filter>
                <data android:scheme="linphone-config"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <service android:name="org.linphone.LinphoneService" android:stopWithTask="false"/>
        <service android:name="org.linphone.sync.SyncService" android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/syncadapter"/>
            <meta-data android:name="android.provider.CONTACTS_STRUCTURE" android:resource="@xml/contacts"/>
        </service>
        <service android:name="org.linphone.sync.AuthenticationService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/authenticator"/>
        </service>
        <receiver android:name="org.linphone.NetworkManager">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="org.linphone.BluetoothManager" android:enabled="false"/>
        <receiver android:name="org.linphone.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN"/>
            </intent-filter>
        </receiver>
        <receiver android:name="org.linphone.PhoneStateChangedReceiver">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="org.linphone.KeepAliveReceiver"/>
        <receiver android:name="org.linphone.HookReceiver">
            <intent-filter>
                <action android:name="com.base.module.phone.HOOKEVENT"/>
            </intent-filter>
        </receiver>
        <receiver android:name="org.linphone.AccountEnableReceiver" android:permission="android.permission.USE_SIP">
            <intent-filter>
                <action android:name="org.linphone.intent.ACCOUNTACTIVATE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="org.linphone.broadcast.ScreenOnOff"/>
        <service android:name="org.linphone.MyIntentService"/>
        <activity android:theme="@style/NoTitle" android:name="org.linphone.tutorials.TutorialLauncherActivity" android:screenOrientation="portrait"/>
        <activity android:theme="@style/NoTitle" android:name="org.linphone.tutorials.TutorialBuddyStatusActivity" android:screenOrientation="portrait"/>
        <activity android:theme="@style/NoTitle" android:name="org.linphone.tutorials.TutorialChatRoomActivity" android:screenOrientation="portrait"/>
        <activity android:theme="@style/NoTitle" android:name="org.linphone.tutorials.TutorialHelloWorldActivity" android:screenOrientation="portrait"/>
        <activity android:theme="@style/NoTitle" android:name="org.linphone.tutorials.TutorialRegistrationActivity" android:screenOrientation="portrait"/>
        <activity android:theme="@style/NoTitle" android:name="org.linphone.tutorials.TutorialCardDavSync" android:screenOrientation="portrait"/>
        <activity android:name="org.linphone.LinphoneGenericActivity" android:screenOrientation="portrait"/>
        <activity android:theme="@style/Theme.AppCompat" android:name="org.linphone.RootTaskActivity" android:launchMode="singleTop" android:showOnLockScreen="true"/>
        <receiver android:name="org.altbeacon.beacon.startup.StartupBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <service android:name="org.altbeacon.beacon.BeaconIntentProcessor" android:enabled="true" android:exported="false"/>
        <service android:name="org.altbeacon.beacon.service.ScanJob" android:permission="android.permission.BIND_JOB_SERVICE">
            <meta-data android:name="immediateScanJobId" android:value="208352939"/>
            <meta-data android:name="periodicScanJobId" android:value="208352940"/>
        </service>
        <service android:name="org.altbeacon.bluetooth.BluetoothTestJob" android:permission="android.permission.BIND_JOB_SERVICE">
            <meta-data android:name="jobId" android:value="1799803768"/>
        </service>
        <service android:name="com.yandex.metrica.push.firebase.MetricaMessagingService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver android:name="com.yandex.metrica.push.core.notification.MetricaPushBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.yandex.metrica.push.action.NOTIFICATION_ACTION"/>
            </intent-filter>
        </receiver>
        <service android:name="com.yandex.metrica.push.PushService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="false"/>
        <receiver android:name="com.yandex.metrica.push.core.notification.MetricaPushNotificationStatusChangeHandler" android:exported="true">
            <intent-filter>
                <action android:name="android.app.action.APP_BLOCK_STATE_CHANGED"/>
                <action android:name="android.app.action.NOTIFICATION_CHANNEL_BLOCK_STATE_CHANGED"/>
                <action android:name="android.app.action.NOTIFICATION_CHANNEL_GROUP_BLOCK_STATE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.yandex.metrica.push.core.notification.TtlBroadcastReceiver" android:exported="false"/>
        <service android:name="com.yandex.metrica.MetricaService" android:enabled="true" android:exported="true" android:process=":Metrica">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="com.yandex.metrica.IMetricaService"/>
                <data android:scheme="metrica"/>
            </intent-filter>
            <meta-data android:name="metrica:api:level" android:value="85"/>
        </service>
        <service android:name="com.yandex.metrica.ConfigurationService" android:enabled="true" android:exported="false" android:process=":Metrica">
            <meta-data android:name="metrica:configuration:api:level" android:value="3"/>
            <intent-filter>
                <action android:name="com.yandex.metrica.configuration.ACTION_INIT"/>
            </intent-filter>
        </service>
        <service android:name="com.yandex.metrica.ConfigurationJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:enabled="true" android:exported="false" android:process=":Metrica"/>
        <receiver android:name="com.yandex.metrica.MetricaEventHandler" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.yandex.metrica.ConfigurationServiceReceiver" android:enabled="true" android:exported="true" android:process=":Metrica">
            <intent-filter>
                <action android:name="com.yandex.metrica.configuration.service.PLC"/>
            </intent-filter>
        </receiver>
        <service android:label="Mobile ID NFC Access" android:name="org.mobileid.requester.nfc.NFCService" android:permission="android.permission.BIND_NFC_SERVICE" android:exported="true">
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.nfc.cardemulation.host_apdu_service" android:resource="@xml/nfc_apdu_host"/>
        </service>
        <service android:label="Mobile ID Access" android:name="org.mobileid.requester.background_requester.RequesterForegroundService" android:exported="false" android:isolatedProcess="false"/>
        <service android:name="org.mobileid.time_key.push.FirebasePushService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver android:name="org.mobileid.time_key.key_watcher.KeyWatcherBroadcastReceiver"/>
        <activity android:name="com.google.android.play.core.missingsplits.PlayCoreMissingSplitsActivity" android:enabled="false" android:exported="false" android:process=":playcore_missing_splits_activity" android:stateNotNeeded="true" android:launchMode="singleInstance"/>
        <activity android:theme="@style/Theme.PlayCore.Transparent" android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity" android:enabled="false" android:exported="false" android:stateNotNeeded="true"/>
        <service android:name="com.google.android.play.core.assetpacks.AssetPackExtractionService" android:enabled="false" android:exported="true">
            <meta-data android:name="com.google.android.play.core.assetpacks.versionCode" android:value="10901"/>
        </service>
        <service android:name="com.google.android.play.core.assetpacks.ExtractionForegroundService" android:enabled="false" android:exported="false"/>
        <meta-data android:name="com.android.vending.splits.required" android:value="true"/>
        <meta-data android:name="com.android.stamp.source" android:value="https://play.google.com/store"/>
        <meta-data android:name="com.android.stamp.type" android:value="STAMP_TYPE_DISTRIBUTION_APK"/>
        <meta-data android:name="com.android.vending.splits" android:value="@xml/splits0"/>
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="3"/>
    </application>
</manifest>
